<div class="bg-light" id="business-information">
    <div class="container text-center py-5 text-primary px-2">
        <h2 class="mb-0 font-weight-bold">Enjoy fast and easy tax filing with us</h2>
        <h3 class="mb-3">File Taxes Fast</h3>
        <p class="m-auto col-sm-10 lead font-weight-semibold">
            We built this website so that you would never have to walk into a tax office again. If you are always on the go, try our online dashboard with instant text message support. There are no obligations until you are satisfied.
        </p>
    </div>
</div>
