<div class="py-5 d-flex align-items-center hero">
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-5 col-xl-4">
            <h1 class="font-weight-bolder text-light shadow-text">Flight Attendants Hate Taxes</h1>
            <p class="h3 text-light mb-5 shadow-text">We handle that</p>
            <a data-toggle="modal" data-target="#register-modal" class="btn btn-secondary btn-lg font-weight-bolder text-light px-5 rounded-0" href="#" role="button">Get Started</a>
        </div>
    </div>
</div>
