<div class="bg-light" id="how-it-works">
    <div class="container">
        <div class="row py-5">
            <div class="col-xs-12 px-4 col-lg-4 d-flex align-items-center text-primary">
                <div>

                    <h2 class="mb-5 font-weight-bolder">File your tax return in 3 easy steps</h2>
                    <p class="lead mb-5 font-weight-semibold">Get started and access your secure dashboard. A Tax Pro will reach out to you via text and help while you...</p>
                <ul class="lead secondary-bullet font-weight-semibold">
                    <li>answer a 5 min questionnaire</li>
                    <li>upload your tax documents</li>
                    <li>schedule a final call</li>
                </ul>
 
                </div>
            </div>
            <div class="col-xs-12 col-lg-8 text-sm-center text-lg-right">
                <img class="phone-presentation my-5" src="~/Content/img/phone-presntation.png" />
            </div>
        </div>
    </div>
</div>
