body {
    font-family: 'Open Sans', sans-serif;
    padding-right: 0 !important;

}

.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}


.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: background 0.3s ease-in;
}

@media only screen and (max-width: 992px) {
    .topbar .navbar-collapse {
        position: absolute;
        top: calc(100% + 8px);
        background: white;
        left: 0px;
        right: 0px;
        padding: 20px;
        padding: 20px;
        transition: all 0s;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    }
}

.hero {
    background: url("/Content/img/hero-image.jpg");
    background-position-x: 65%;
    background-position-y: top;
    background-size: cover;
    height: 700px;
    max-height: 100vh;
}

.hero-button {
    width: 220px;
}

@media only screen and (max-width: 992px) {
    .hero-button {
        width: 150px;
    }
}

.font-weight-semibold {
    font-weight: 500;
}

.font-weight-superbold {
    font-weight: 900;
}

.line-height-1 {
    line-height: 1;
}

.shadow-text {
    text-shadow: 0px 3px 18px black;
}
.phone-presentation {
    max-width: 80%;
}

ul.secondary-bullet {
    list-style-type: none;
    padding-left: 40px;
    margin: 0;
}

    ul.secondary-bullet > li {
        position: relative;
    }


        ul.secondary-bullet > li::after {
            content: "";
            background: #e63f39;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            border: 1px solid #09233C;
            display: inline-block;
            position: absolute;
            left: -40px;
            top: calc(50% - 6px);
        }

.footer {
    padding: 150px 0;
}

    .footer .logo {
        max-width: 70%;
    }

@media only screen and (max-width: 992px) {
    .footer {
        padding: 75px 0;
    }
}

label.error {
    font-size: 0.9em;
    color: red;
    font-weight: 600
}
