<div class="nav-bar-container container">
    <div class="navbar navbar-inverse navbar-fixed-top nav-bar-inner">
        <div class="container navbar-doublerow-fix">
            <div class="navbar-header" style="padding-bottom: 18px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin-right:25px;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding:20px !important;">
                    <img src="~/Content/img/logo.png" width="150" alt="WorkTrip">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav navbar-ul" style="display: flex;align-items: center;">
                    <li class="navbar-left dropdown" style="width:100%;">
                        <a id="btnUser" class="same-height dropdown-toggle" data-toggle="dropdown" href="#">
                            @(Model.FirstName + " " + Model.LastName) <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="background: #152D58;">
                            @*<li class="borderB"><a style="color: #fff" href="#">Payment Info</a></li>*@
                            <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color: #fff">Sign out</a></li>
                        </ul>
                    </li>

                    @*hide refer a friend button*@
                    @*<li><a class="same-height getStarted" id="refer-btn" href="#">Refer a Friend</a></li>*@

                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>